.head {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px;
}

.logoWrapper {
  height: 50px;
  aspect-ratio: 5.3;
  order: -2;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  /* color: #ecf0f1; */
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  padding: 6px;
  cursor: pointer;
}

.darkModeButton {
  border: none;
  order: -1;
  display: block;
  position: relative;
  padding: 8px 16px;
  text-decoration: none;
  background: none;
  color: black;
  font-weight: 300;
  opacity: 0.7;
  transition: opacity 500ms;
  cursor: pointer;
}

/* .logoWrapper :hover {
  height: 60px;
} */

.logo {
  height: 100%;
  border-radius: 5px;
}
.logoText {
  width: 100%;
  border: none;
  border-color: black;
  text-align: left;
  align-items: baseline;
  font-weight: 1000;
}

.logoSubtext {
  font-weight: 150;
}

.darkModeButton :hover {
  opacity: 1;
}

@media (min-width: 760px) {
  .darkModeButton {
    order: 2;
  }
}
