.footerWrapper {
  display: flex;
  justify-content: center;
  /* border: solid; */
}

.footerContent {
  text-wrap: wrap;
  text-align: center;
  padding: 50px;
  max-width: 600px;
  opacity: 0.8;
  font-weight: 50;
  font-size: smaller;
}
